aws_region            = "eu-north-1"
environment           = "production"
neon_api_key          = "REPLACE_ME"
jwt_secret            = "REPLACE_ME"
brevo_api_key         = "REPLACE_ME"
from_email            = "noreply@yourdomain.com"
webauthn_rp_id        = "bilcool.areskiftet44.se"
webauthn_rp_origins   = "https://bilcool.areskiftet44.se"
webauthn_display_name = "BilCool"
lambda_artifacts_bucket = "bilcool-lambda-artifacts"
domain_name           = "bilcool.areskiftet44.se"
